#fp-nav ul li a span {background-color: white;}
nav.fix-navMenu {position: fixed;color: white;top: 20px;right: 20px;z-index: 3;display: flex;align-items: center;}
nav.fix-navMenu > li {padding: 10px; cursor: pointer;font-size: 18px;position: relative;font-weight: bold;}
nav.fix-navMenu > li > span {color: white;}
nav.fix-navMenu > li::after {content: "";position: absolute;left: 50%;right: 50%;background-color: white;height: 2px;bottom: 0;margin: 0 10px;transition: all 0.5s;}
nav.fix-navMenu > li.liActive::after, nav.fix-navMenu > li.currentItemActive::after {left: 0; right: 0;}
.title-h2-targetJob {position: absolute;left: 20px;top: 20px;z-index: 3;color: white;font-size: 32px;}
.div-myInfowrapper {z-index: 2;display: flex;height: 86%;padding: 10px;padding-bottom: 0px;}
.myInfo-sectionBar {height: 100%;min-width: 450px;max-width: 450px; display: flex;flex-direction: column;}
.myInfo-sectionBar .top {position: relative;  display: flex;align-items: center;justify-content: center; padding: 14px 10px; background-color:rgb(240, 245, 251);border-top-left-radius: 6px;border-top-right-radius: 6px;}
.myInfo-sectionBar .content {flex-grow: 1;background-color: rgb(255, 255, 255);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
.apple-threeColorCircles > span {display: inline-block;width: 20px;height: 20px;border-radius: 50%;margin-right: 6px;}
.apple-threeColorCircles > span.red {background-color: rgb(255, 102, 94);border: 1px solid rgb(220, 114, 114);}
.apple-threeColorCircles > span.yellow {background-color: rgb(250, 191, 42);border: 1px solid rgb(238, 172, 25);}
.apple-threeColorCircles > span.green {background-color: rgb(49, 215, 17);border: 1px solid rgb(49, 215, 17);}
.apple-threeColorCircles span:last-child {margin-right: 0;}
.myInfo-sectionBar .top .apple-threeColorCircles {position: absolute;left: 10px;display: flex;align-items: center;}
.myInfo-sectionBar .content {padding: 16px;}
.myInfo-sectionBar .content .messageItem {word-break: break-all; display: inline-flex; border-radius: 6px; padding: 16px; background-color: rgb(248, 248, 248);position: relative;}
.myInfo-sectionBar .content .messageItem::after{z-index: 1; content:" ";  width:25px;height:20px;  background-color:transparent;  border-top:22px solid rgb(248, 248, 248);  position:absolute;left:-10px;top: 20%;  transform:rotate(172deg); border-radius:0 38px 0 0;}
.myInfo-sectionBar .content .messageItem .inner {z-index: 2; display: flex;flex-direction: column;}
.myInfo-sectionBar .content .messageWrapper {display: flex;align-items: center;}
.myInfo-sectionBar .content .messageWrapper + .messageWrapper {margin-top: 12px;}
.myInfo-sectionBar .content .messageWrapper svg {min-width: 32px; max-width: 32px; min-height: 32px; max-height: 32px; margin-right: 16px;}
.myInfo-sectionBar .myContact {margin-top: 20px;}
.myInfo-sectionBar .myContact > li {display: flex;align-items: center;}
.myInfo-sectionBar .myContact > li .infoText {margin-left: 16px;}
.myInfo-sectionBar .myContact > li + li {margin-top: 12px;}
.myInfo-sectionBar .myContact > li svg.icon {width: 30px;height: 30px;}
.myInfo-sectionBar .weixinAccount {margin-right: 16px;}
.myInfo-sectionBar svg.qCode, .myInfo-sectionBar .linkBtnGroup > button {cursor: pointer;display: inline-flex;justify-content: center;align-items: center;}
.myInfo-sectionBar .linkBtnGroup {padding-top: 40px;display: flex;flex-direction: column;align-items: center;}
.myInfo-sectionBar .linkBtnGroup .button-lg-btn, .productItem-funcBtns .button-lg-btn {padding: 8px 16px;font-size: 16px;}
.myInfo-sectionBar .linkBtnGroup button svg.icon {width: 30px;height: 30px;margin-right: 8px;}
.myInfo-sectionBar .linkBtnGroup button + button {margin-top: 12px;}
.myInfo-sectionBar .linkBtnGroup button.myBlog {padding-left: 28px;padding-right: 28px;}
.myInfo-sectionBar .linkBtnGroup button.downloadPDF {padding-left: 44px;padding-right: 44px;}
.myInfo-mainContent {display: flex;flex-direction: column;justify-content: space-between;margin-left: 16px;flex-grow: 1;margin-right: 50px;}
.myInfo-mainContent > div {background-color: white;width: 100%;padding: 8px 16px;border-radius: 4px;}
.myInfo-mainContent > div > h2 {color: #0798ec;}
.textItem .fontNeedBold {font-weight: bold;color: #ff5000;}
.myInfo-mainContent .feSkills .fontNeedBold, .myInfo-mainContent .otherSkills .fontNeedBold, strong {color: #ff5000;}
.myInfo-sectionBar .myContact .weixin {position: relative; display: inline-flex;}
.myContact .weixin .weixinQcodeWrapper, .productItem-funcBtns .mobileQcodewrapper .myPaintBoard {opacity: 0; position: absolute; left: 100%;top:50%;padding: 10px;background-color: #cccccc;transform: translateY(-50%);z-index: 3; visibility: hidden;transition: all 0.3s;}
.myContact .weixin .weixinQcodeWrapper.active {visibility: visible;opacity: 1;}
.myInfo-mainContent .textItem {margin-bottom: 6px;}
.messageBoard-main {height:100%;padding: 80px 50px 50px 16px;display: flex;flex-direction: column;}
.sendMessageIcon {fill:rgb(220, 220, 220);width: 100px;height: 100px;}
.messageBoard-main .title {display: flex;align-items: center;}
.messageBoard-main .title h1 {color: white;margin-left: 32px;}
.commentListWrapper {position: relative; overflow-y: auto;background-color: #e4e4e4;flex-grow: 1;margin-right: 30px;min-height: 100%;max-height: 100%;}
.commentsList {padding: 12px;}
.commentsList .messageItem {padding:12px; background-color: white;border-radius: 5px;margin-bottom: 12px;}
.commentsList .messageItem .nameWrapper {color: rgb(128, 128, 128);}
.commentsList .messageItem .message {color: rgb(179, 179, 179);word-break: break-all;}
.sendMessageAndListwrapper {display: flex;justify-content: space-between;padding-top: 12px;flex-grow: 1;}
#pagination-demo {justify-content: center;}
.sendComment {display: flex;align-items: flex-end;}
.sendComment form {display: flex;flex-direction: column;padding: 12px;background-color: white;}
.p-c-flexwrapper {display: flex;align-items: center;}
.p-c-flexwrapper > span {white-space: nowrap;margin-right: 12px;}
.p-c-flexwrapper > .form-control {flex: 1; width: auto;}
.sendComment form textarea {margin-bottom: 12px;}
.loader-inner { display: none; z-index: 2;position: absolute;top: 0;left:0;right: 0;bottom: 0;align-items: center;justify-content: center;background-color: white}
.loader-inner.active {display: flex;}
.loader-inner.ball-pulse > div {background-color: rgb(7, 152, 236);}
.productItem-funcBtns .mobileQcodewrapper {display: inline-block;position: relative;}
.productItem-funcBtns .mobileQcodewrapper.active .myPaintBoard {visibility: visible;opacity: 1;}
.myInfo-sectionBar .messageWrapper.messageOne, .myInfo-sectionBar .messageWrapper.messageTwo { animation-duration: 0.8s;}
.myInfo-sectionBar .messageWrapper.messageOne { animation-delay: 0.6s; }
.myInfo-sectionBar .messageWrapper.messageTwo { animation-delay: 1.2s; }
.myInfo-sectionBar .myContact { animation-duration: 1s; animation-delay: 1.8s; }
.myInfo-sectionBar .linkBtnGroup { animation-duration: 1s; animation-delay: 2.4s; }
.myInfo-mainContent > div.animated {animation-delay: 3s; animation-duration: 1s;}
.maskDiv {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: white;display: none;z-index: 5;}
.maskDiv.active { display: block;}
.initHidden {overflow: hidden;}
.button-lg-btn > span, .messageCount {color: white;}
.myInfo-sectionBar .linkBtnGroup button svg.icon {fill: white;}
.page-link:link {color: #007bff;}